/* Table Of contents

1. RESTS
2. Page level styles
3. Typography
4. utility style
5. header and the top navigation
6. Program Navigation
7. homepage content
8.Program pages
9 Media queries for larger viewport
*/
/*1. resets*/
*{
    margin:0;
    padding:0;
    border:0;
}

/* 2. Page level styles*/

body{
    font-family: sans-serif;
    line-height:1.5em;
    margin:0.5em;
    background-color: rgb(4, 4, 202);
}

#wrapper{
    max-width: 1200px;
    Margin: 0 auto;
}

input{
    border: solid 1px black;
    padding: 3px;
}

html{
    font-size: 20px;
}

p,h1, h2, h3, h4{
    margin-bottom: 1em;
    color: white;
}

/************** 3. typography ************* */
h1{
    font-size: 1.5em;
}

/************** 4. utilities ************** */
.flex-container{
    display:flex;
    justify-content: space-between;
}

.larger-text{
    font-size: larger;
}

.img-responsive{
    width: 100%;
}

.float-right{
    float: right;
}

/************** 5. header and top Navigation **************** */
header{
    position: relative;
}

#top-menu{
    display: none;
    padding: 0.5em;
    border: solid 1px #000;
    background-color: white;
    clear:right;
    position: absolute;
    right:0;
    top: 28px;
}

#top-menu ul{
    list-style-type: none;
}

/************** 6. Program Navigation ************ */

nav ul{
    list-style-type: none;
}
li.dropdown{
    border-bottom: solid 1 px black;
}

li.dropdown ul{
    display: none;
}

li.dropdown:hover ul{
    display: block;
}

.dropdown a{
    background-color:rgb(221, 222, 236);
    padding:5px;
    position:relative;
    text-decoration: none;
    display: block;
}

.dropdown li a{
   color: rgb(19, 1, 1);
}

.dropdown li a:hover{
    color: rgb(20, 128, 236);
}

.expand{
    float: right;
}
.fotter{
    color: white;
}

/************** 7. Homepage content ************ */

.banner{
    padding: 6cm 2cm;
    background-image: url("bmcccampus.jpeg");
    background-repeat: no-repeat;
    background-size:cover ;
    margin: 2em 0;
}

.banner a{
    font-size: larger;
    background-color: rgb(0,0,0,0.5);
    padding: 0.5em;
    color: white;
    text-shadow: 2px 2px 2px #000;
    display:block;
    text-decoration: none;
}


/************** 8. Program pages************ */

 
 .program-layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
   
 }
 
 
 h2{
    margin-left: 20px;
 }
 
 .card{
    /*flex: 1 0 auto;  flex-grow; yes flex-shrink;no flex-basis;original width*/
 margin-top: 30px;
   border: 1px solid rgb(9, 4, 0);
   background-color: rgb(213, 218, 223);
  transition-property: background-color box-shadow transform;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 300px;
  
 }
 
 
 .card-body{
    margin-left: 20px;
    
 }
 
 
 .card:hover{
   transition-duration: 1s;
   background-color: rgb(173, 211, 247);
   box-shadow: 1px 2px 1px rgb(75, 67, 55);
   transform: scale(1.02);
 }
 
 .img-card{
    width: 100%;
    border-radius: 8px;
  object-fit: cover;
   
 }
   
 

  




/************** 9. Media queries for larger viewport************ */
@media (min-wdith:768px;){

}

.program-nav ul{
    display:flex;
    justify-content:space-between;
}

/*. program-nav ul{
    width: 30%;
    position: relative;
}
.program-nav li li{
}*/

.dropdown{
    width: 30%;
    position: relative;
}
.dropdown ul{
    display:block;
    position:absolute;
    background-color: white;
    border: solid 1px #000;
    padding: 5px;
    width:100%
}
 main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
 }

.news{
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.events{
    grid-column-start: 4;
}