body{
    background-color: black;
}

#warpper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1cm;
    background-color: red;
}
/* header style*/

header{
    background: url("locke&keybanner.jpg") no-repeat top center/40%;
    padding-bottom: 10cm;
}

p{
   margin-bottom: 1cm;
   color: aliceblue;
}
.btn{
    display: block;
    background-color: rgb(194, 22, 22);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 5cm;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    

}
/* navigation styles*/
nav{
    background-color: red;
    text-decoration: none;
}
nav a:hover{
    color: black;
 text-decoration: overline;

}
nav li{
    display: inline;
    margin-right: 10px;
    padding: 10px;
    padding-left: 2cm;
}

main{
    margin-top: 2cm;
}

.col-left{
 float: left;
 width:48%;
}

.col-right{
float: right;
width:48%;
}

footer{
    clear:both;
    padding: 2cm;
}
